@font-face {
    font-family: NameIdea;
    src: url(public/fonts/Exo2-VariableFont_wght.ttf);
}

.header_section {
    display: flex;
    align-items: center;
    width: 100%;
}

.header-content-first {
    width: 100%;
    background: rgb(49, 172, 250);
    background: linear-gradient(210deg, rgba(49, 172, 250, 1) 0%, rgba(172, 255, 255, 1) 31%, rgba(172, 255, 255, 1) 32%, rgba(172, 255, 255, 1) 64%, rgba(32, 113, 195, 1) 100%);
    ;
    padding-bottom: 10px;
}
.logo{
    margin-top: 15px;
    width: 140px;
    height: 140px;
    background-image: url(public/images/logo-tdc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.name{
    font-family: NameIdea;
    font-weight: bolder;
    margin-left: 200px;
    /* -webkit-text-stroke: 1px #000; */
    text-shadow: 2px 2px 10px #000;
}

.name-school{
    font-family: NameIdea;
    font-weight: bolder;
    color: #fff;
    margin-left: 20px;
    /* -webkit-text-stroke: 1px #000; */
    text-shadow: 2px 2px 10px #000;
}

.box-contact{
    font-family: NameIdea;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.nav{
    inset: 0;
    background: #4e9fd6;
    display: flex;
    justify-content: space-between;
    box-shadow: #acffff 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.item-nav{
    line-height: 60px;
    padding: 0 12px;
    vertical-align: middle;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
}
.item-nav-text{
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
}
.list-item-nav{
    margin: 0;
    list-style:none;
    justify-content: space-between;
}
.box-login{
    text-align: end;
}
.login{
    line-height: 42px;
    padding: 0px 40px;
    border-radius: 30px;
    vertical-align: middle;
    margin:10px;
}
.item-nav:hover{
    box-shadow: rgba(17, 17, 26, 0.3) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 30px;
    color: yellow;
    cursor: pointer;
}
.item-nav-text:hover{
    color: yellow;
    text-decoration: none;
    cursor: pointer;
}
.img-banner{
    position: relative;
    width: 100%;
    height: 900px;
    background-image: url(public/images/img-banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.img-pre{
    position: absolute;
    left: 0;
    font-size: 50px;
    padding: 0 30px;
    line-height: 900px;
    opacity: 0;
    color: #acffff;
    fill: #acffff;
}
.img-blur{
    width: 100%;
    height: 900px;
    margin: 0 95px;
}
.img-next{
    position: absolute;
    font-size: 50px;
    right: 0;
    padding: 0 30px;
    line-height: 900px;
    opacity: 0;
}
.about_section{
    margin-bottom: 50px;
}
.img-next:hover, .img-pre:hover{
    box-shadow: rgba(0, 0, 0, 0.95) 0px 5px 15px;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    color: #fff;
    opacity: 1;
}
.img-pre:hover ~ .img-blur{
    background: rgba(0, 0, 0, 0.33);
}
.img-next:hover ~ .img-blur {
    background: rgba(0, 0, 0, 0.33);
}
.name-about{
    font-size: 100px;
    margin: 40px 0;
    font-weight: bolder;
    color: #4e9fd9;
}
.content-about{
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}
.notify-about{
    position: relative;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 10px #000 ;
    background: #0093dd;
    border-radius: 40px;
    line-height: 40px;
    font-weight: bold;
    cursor: default;
}
.notify-about::before{
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-image: url(public/images/notify.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.body-notify-about{
    position: relative;
    margin-top: 5px;
    background-color: #fff5EE;
    height: 535px;
    border: 2px solid #c0c0c0;
    padding: 25px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.even-notify-about{
    position: relative;
    text-align: center;
    text-shadow: 2px 2px 10px #000 ;
    color: #fff;
    background: #ff6347;
    border-radius: 40px;
    line-height: 40px;
    font-weight: bold;
    cursor: default;
}
.text-notify-about{
    position: absolute;
    bottom: 0;
    transition: all 3s;
    animation: onTop 5s linear infinite;
}
@keyframes onTop {
    0%{ bottom: 0;}
    100%{ bottom: 100%;}
}
.img-about{
    width: 100%;
    height: 500px;
    background-image: url(public/images/img-about-2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.img-about-content{
    background-image: url(public/images/img-banner-1.jpg);
    width: 100%;
    height: 230px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-background{
    display: flex;
    align-items: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 50px 0;
}
.map_section{
    margin-top: 50px;
}
.title-address-footer{
    font-size: 35px;
    margin: 30px 0;
}

.title-contact{
    font-size: 30px;
}
.box-even-item-notify{
    width: 100%;
    height: 600px;
    margin-top: 5px;
    padding: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}
.even-item-notify{
    color: #000;
    margin-bottom: 20px;
    text-decoration: dotted;
    font-size: 18px;
    cursor: pointer;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.43);
}

.button-notify {
  width: 100%;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color:rgb(255, 255, 255);
  text-shadow: 2px 2px 10px #000;
  font-size: 20px;
  font-weight: bold;
  background: #111;
  cursor: pointer;  
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  animation: changeColor 1s infinite ease-in;
}

.button-notify:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes changeColor {
    0%{ color: #ff0000;}
    50%{ color: #fff;}
    100%{ color: #ff0000;}
}

.button-notify:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #acffff;
  left: 0;
  top: 0;
  border-radius: 10px;
}